@import url("./variables.css");
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&family=Satisfy&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-family: "Red Rose", serif;
  font-weight: 550;
  margin: 0;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin-left: 10px;
  margin-top: -10px;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
  gap: 40px;
  align-items: center;
  right: 0;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  margin-right: 40px;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.hero-wrapper {
  background-image: url("../assets/introimg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0 0 20px 0;
}

#intro {
  padding: 100px 20px;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: -10px;
}

.hero-content p {
  font-size: 1.2rem;
}

.logo {
  max-width: 300px;
  margin-left: 40px;
  padding-right: 10px;
}

/* Global */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#based {
  font-size: 2rem;
}

section h2 {
  font-size: 2.1rem;
}

/* Intro */

/* Portfolio */
.lines {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.lines::before,
.lines::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid white;
  margin: 0 20px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}

.card h3 {
  margin-top: 15px;
  font-weight: 550;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: grey;
  padding: 4px;
}

.card:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.card a:hover {
  transform: scale(1.06);
  transition: 0.3s;
  color: white;
}

/* About */
#about {
  padding: 50px 20px;
  background-color: #000;
  color: white;
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 20px;
}

.about-content img {
  max-width: 300px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.7);
}

.about-content img:hover {
  filter: grayscale(0%);
}

.about-content p {
  flex: 1;
  font-size: 1.2rem;
  text-align: left;
}

/* Contact */

#contact a {
  text-decoration: none;
  color: white;
}

#contact a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: black;
  padding: 60px;
  color: white;
  text-align: center;
  border-top: grey solid 1px;
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.footer-menu ul li {
  margin: 0 10px;
}

.footer-menu ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 350;
}

.footer-menu ul li a:hover {
  color: grey;
}

.footer-menu ul li:not(:last-child)::after {
  content: "•";
  margin-left: 10px;
  color: white;
}

#copy {
  font-weight: 350;
}

/* Media queries */

@media (max-width: 340px) {
  .logo {
    max-width: 190px;
    margin-left: 1px;
  }
}

@media (min-width: 341px) and (max-width: 450px) {
  .logo {
    max-width: 250px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .nav-menu a {
    font-size: 0.9rem;
  }

  .logo {
    margin-left: 10px;
  }
  .nav-menu a {
    margin-right: 0px;
  }

  section {
    min-height: auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  h2::before,
  h2::after {
    margin: 0 10px;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease-in-out;
    text-align: center;
    padding-bottom: 100%;
  }

  .bar {
    max-width: 28px;
    height: 3px;
    margin: 3px 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    display: flex;
    left: 0;
  }

  .nav-menu a {
    padding: 15px 0;
    border-bottom: 1px solid #444;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .about-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-content img {
    max-width: 50%;
    margin-bottom: 20px;
  }

  .about-content p {
    padding: 0 10px;
    font-size: 1rem;
    max-width: 400px;
  }

  .footer-menu ul {
    flex-direction: column;
  }

  .footer-menu ul li {
    margin: 5px 0;
  }

  .footer-menu ul li:not(:last-child)::after {
    content: "";
  }

  .footer-menu ul li#copy {
    order: 1;
  }

  .footer-menu ul li a {
    order: 0; /* Make the other links appear first */
  }
}

@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }

  header {
    padding: 20px 40px;
  }
}

@media (min-width: 768px) and (max-width: 860px) {
  .logo {
    margin-left: 10px;
    margin-right: 5px;
  }

  .nav-menu a {
    margin-right: 10px;
  }
}

@media (max-width: 930px) {
  .nav-menu {
    gap: 10px;
  }

  .nav-menu a {
    margin-right: 20px;
  }
}

@media (min-width: 931px) and (max-width: 1024px) {
  .nav-menu {
    gap: 25px;
  }
}
